vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Sep 2013 12:09:01 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Toshiba\\mtigue
vti_modifiedby:SR|Toshiba\\mtigue
vti_timecreated:TR|17 Sep 2013 12:09:01 -0000
vti_cacheddtm:TX|17 Sep 2013 12:09:01 -0000
vti_filesize:IR|9808
vti_cachedlinkinfo:VX|S|img2/texture2.jpg S|../images/page-backgrounds/texture.jpg S|assets/images/logo.png
vti_cachedsvcrellinks:VX|FSUS|31/img2/texture2.jpg NSUS|images/page-backgrounds/texture.jpg FSUS|31/assets/images/logo.png
vti_backlinkinfo:VX|31/main-sep16.html 31/main_copy(1).html 31/main.html
